# Ignore directories and files

/node_modules
/.next/
/build
.next
next-env.d.ts
public
package-lock.json
next.config.mjs
postcss.config.js
tailwind.config.ts

components/ui/
convex/auth.config.js
components/single-image-dropzone.tsx
